* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: whitesmoke;
  color: white;
}
#iColunaPrincipal {
  max-width: 500px;
  margin: auto;
}
.cBalao {
  background-color: #323232;
  border-radius: 3px;
  margin: 10px;
}
#iHeader {
  text-align: center;
  padding: 1rem;
  letter-spacing: 3px;
}
.cTitulo {
  text-align: center;
  padding: 1rem;
  letter-spacing: 3px;
}
.cTresColunas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
.cBotao {
  height: 60px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15pt;
  border: none;
}
.cBotaoAzul {
  flex-basis: 40%;
  flex-grow: 1;
  background-color: #3498DB;
}
#iOutros {
  margin-bottom: 50px;
}
#iConteudoConfiguracoes p {
  font-size: 15pt;
  padding: 1rem;
}
#iNavegacao {
  margin-top: 50px;
}
.cBotaoNavegacao {
  flex-basis: 30%;
  flex-grow: 1;
  background-color: #3498DB;
}
#iFooter {
  text-align: center;
  padding: 1rem;
}
#iFooter a {
  color: inherit;
}